<div style="text-align:center">
  <ul>
    <li 
      *ngFor="let movie of movies" 
      [className]="movie.active ? 'active' : 'inactive'"
    >
      <h2>
        {{ movie.title }}
      </h2>
      <p>
        <img 
          width="240" 
          height="360"
          alt="Poster {{movie.title}}" 
          src="{{imageSrc + movie.poster_path}}"
        >
      </p>
      <app-movie-detail 
        [movie]="movie" 
        (chooseRequest)="chooseMovie($event)"
      >
      </app-movie-detail>
    </li>
  </ul>
</div>
